__pycache__/autostart_module.cpython-311.pyc
__pycache__/color_palette.cpython-311.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-311.pyc
__pycache__/custom_key.cpython-311.pyc
__pycache__/group_config.cpython-311.pyc
__pycache__/keybindings.cpython-311.pyc
__pycache__/keytest.cpython-311.pyc
__pycache__/layouts_config.cpython-311.pyc
__pycache__/mouse_config.cpython-311.pyc
__pycache__/mouse_settings.cpython-311.pyc
__pycache__/screen_bar.cpython-311.pyc
__pycache__/screen_config.cpython-311.pyc
__pycache__/settings_thunnel.cpython-311.pyc
color_palette/__pycache__/catpuccino_latte.cpython-311.pyc
keys/__pycache__/desktop.cpython-311.pyc
keys/__pycache__/general_keybinds.cpython-311.pyc
keys/__pycache__/lenovo.cpython-311.pyc
keys/__pycache__/qtile_keys.cpython-311.pyc
settings_config/__pycache__/group_config.cpython-311.pyc
settings_config/__pycache__/layout_config.cpython-311.pyc
settings_config/__pycache__/mouse_config.cpython-311.pyc
settings_config/__pycache__/screen_config.cpython-311.pyc
autostart_script/__pycache__/autostart_module.cpython-311.pyc
