__pycache__/config.cpython-311.pyc
__pycache__/custom_key.cpython-311.pyc
__pycache__/keybindings.cpython-311.pyc
__pycache__/keytest.cpython-311.pyc
settings/__pycache__/bar_settings.cpython-311.pyc
settings/__pycache__/keybinds.cpython-311.pyc
__pycache__/config.cpython-310.pyc
__pycache__/color_palette.cpython-311.pyc
__pycache__/autostart_module.cpython-311.pyc
